
  <!-- ***** Preloader End ***** -->
  {% extends 'base.html' %}
  {% block content%}
  {% load static %}
  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url 'MAIN:index' %}" class="logo">
                        <img src="{% static 'assets/images/logo.png'%}" alt="">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="{% url 'MAIN:index' %}" >Home</a></li>
                        <li><a href="{% url 'MAIN:about' %}" class="active" >About</a></li>
                        <li><a href="{% url 'MAIN:pricing' %}" >Pricing</a></li>
                        <li><a href="{% url 'MAIN:order' %}">Book Order</a></li>
                        <li><a href="{% url 'MAIN:contact' %}" >Contact Us</a></li>
                  </ul>    
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <div class="about-main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content">
                    <div class="blur-bg"></div>
                    <h4>PRINTING EXCELLENCE AT YOUR FINGERTIPS</h4>
                    <div class="line-dec"></div>
                    <h2>Welcome to MA TARA Enterprise</h2>
                    <p>At MA TARA Enterprise, we specialize in delivering high-quality printing solutions that meet the needs of businesses and individuals alike. From brochures and business cards to large-format prints, our team is dedicated to providing exceptional results with precision and speed. Let us bring your vision to life with the best in the industry.</p>
                    <div class="main-button">
                        <a href="reservation.html">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ***** Main Banner Area End ***** -->
  
<div class="cities-town">
    <div class="container">
        <div class="row">
            <div class="slider-content">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Our <em>Printing Solutions</em></h2>
                    </div>
                    <div class="col-lg-12">
                        <div class="owl-cites-town owl-carousel">
                            <div class="item">
                                <div class="thumb">
                                    <img src="{% static 'assets/images/cities-01.jpg'%}" alt="">
                                    <h4>Agarbatti Zipper</h4>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="{% static 'assets/images/cities-02.jpg'%}" alt="">
                                    <h4>Chanachur Pouch</h4>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="{% static 'assets/images/cities-03.jpg'%}" alt="">
                                    <h4>Chips Pouch</h4>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="{% static 'assets/images/cities-04.jpg'%}" alt="">
                                    <h4>Pan Masala Zipper</h4>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="{% static 'assets/images/cities-01.jpg'%}" alt="">
                                    <h4>Agarbatti Zipper</h4>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="{% static 'assets/images/cities-02.jpg'%}" alt="">
                                    <h4>Chanachur Pouch</h4>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="{% static 'assets/images/cities-03.jpg'%}" alt="">
                                    <h4>Chips Pouch</h4>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="{% static 'assets/images/cities-04.jpg'%}" alt="">
                                    <h4>Pan Masala Zipper</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <div class="weekly-offers">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading text-center">
                    <h2>Best Weekly Printing Offers</h2>
                    <p>Explore our exclusive weekly deals on printing services. Whether you're looking for business cards, banners, or custom prints, we’ve got amazing offers just for you.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-weekly-offers owl-carousel">
                    <div class="item">
                        <div class="thumb">
                            <img src="{% static 'assets/images/offers-01.jpg'%}" alt="Business Cards">
                            <div class="text">
                                <h4>Biri Pouch<br><span><i class="fa fa-users"></i> 234 Orders</span></h4>
                                <h6>$420<br><span>/1000 Cards</span></h6>
                                <div class="line-dec"></div>
                                <ul>
                                    <li>Deal Includes:</li>
                                    <li><i class="fa fa-pencil"></i> Custom Design</li>
                                    <li><i class="fa fa-print"></i> High-Quality Print</li>
                                    <li><i class="fa fa-cut"></i> Standard & Premium Options</li>
                                </ul>
                                <div class="main-button">
                                    <a href="reservation.html">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                            <img src="{% static 'assets/images/offers-02.jpg'%}" alt="Custom Flyers">
                            <div class="text">
                                <h4>Khaini Zipper<br><span><i class="fa fa-users"></i> 234 Orders</span></h4>
                                <h6>₹420<br><span>/500 Flyers</span></h6>
                                <div class="line-dec"></div>
                                <ul>
                                    <li>Deal Includes:</li>
                                    <li><i class="fa fa-pencil"></i> Custom Design</li>
                                    <li><i class="fa fa-print"></i> Vibrant Colors</li>
                                    <li><i class="fa fa-truck"></i> Fast Delivery</li>
                                </ul>
                                <div class="main-button">
                                    <a href="reservation.html">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                            <img src='{% static "assets/images/offers-03.jpg" %}' alt="Posters">
                            <div class="text">
                                <h4>Chanachur Zipper<br><span><i class="fa fa-users"></i> 234 Orders</span></h4>
                                <h6>₹420<br><span>/Poster</span></h6>
                                <div class="line-dec"></div>
                                <ul>
                                    <li>Deal Includes:</li>
                                    <li><i class="fa fa-pencil"></i> Custom Design</li>
                                    <li><i class="fa fa-print"></i> High-Resolution Prints</li>
                                    <li><i class="fa fa-random"></i> Multiple Sizes Available</li>
                                </ul>
                                <div class="main-button">
                                    <a href="reservation.html">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                            <img src="{% static 'assets/images/offers-03.jpg' %}" alt="Custom Business Cards">
                            <div class="text">
                                <h4>Vinyl Banners<br><span><i class="fa fa-users"></i> 234 Orders</span></h4>
                                <h6>₹420<br><span>/Banner</span></h6>
                                <div class="line-dec"></div>
                                <ul>
                                    <li>Deal Includes:</li>
                                    <li><i class="fa fa-pencil"></i> Custom Design</li>
                                    <li><i class="fa fa-print"></i> Durable, Weather-Resistant</li>
                                    <li><i class="fa fa-cogs"></i> Custom Sizes</li>
                                </ul>
                                <div class="main-button">
                                    <a href="reservation.html">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                            <img src="{% static 'assets/images/offers-02.jpg'%}" alt="Flyers">
                            <div class="text">
                                <h4>Biri Pouch<br><span><i class="fa fa-users"></i> 234 Orders</span></h4>
                                <h6>₹420<br><span>/1000 Flyers</span></h6>
                                <div class="line-dec"></div>
                                <ul>
                                    <li>Deal Includes:</li>
                                    <li><i class="fa fa-pencil"></i> Custom Design</li>
                                    <li><i class="fa fa-print"></i> High-Quality Print</li>
                                    <li><i class="fa fa-archive"></i> Bulk Discounts</li>
                                </ul>
                                <div class="main-button">
                                    <a href="reservation.html">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                            <img src="{% static 'assets/images/offers-03.jpg' %}"alt="Custom Business Cards">
                            <div class="text">
                                <h4>Masala Zipper<br><span><i class="fa fa-users"></i> 234 Orders</span></h4>
                                <h6>₹420<br><span>/1000 Cards</span></h6>
                                <div class="line-dec"></div>
                                <ul>
                                    <li>Deal Includes:</li>
                                    <li><i class="fa fa-pencil"></i> Custom Design</li>
                                    <li><i class="fa fa-print"></i> High-Quality Print</li>
                                    <li><i class="fa fa-scissors"></i> Cut to Desired Size</li>
                                </ul>
                                <div class="main-button">
                                    <a href="reservation.html">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


  <div class="more-about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="left-image">
                    <img src="{% static 'assets/images/about-left-image.jpg'%}" alt="About Printing Company">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Discover More About Our Printing Services</h2>
                    <p>We are your go-to printing company for all your custom printing needs. From business cards to large-format prints, we offer top-quality products and services.</p>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="info-item">
                            <h4>150,640+</h4>
                            <span>Total Printed Items Yearly</span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="info-item">
                            <h4>175,000+</h4>
                            <span>Successful Print Projects</span>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="info-item">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h4>12,560+</h4>
                                    <span>Custom Designs Created</span>
                                </div>
                                <div class="col-lg-6">
                                    <h4>240,580+</h4>
                                    <span>Orders Fulfilled Annually</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p>We take pride in providing high-quality prints with exceptional service. From initial design to final production, our team is dedicated to delivering the best results for your printing projects.</p>
                <div class="main-button">
                    <a href="reservation.html">Discover More</a>
                </div>
            </div>
        </div>
    </div>
</div>


 

 

{% endblock %}