<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PrintMaster - High-Quality Printing Services</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/font-awesome.css">
</head>

<body>
    <!-- ***** Main Banner Area Start ***** -->
    <section id="section-1">
        <div class="content-slider">
            <input type="radio" id="banner1" class="sec-1-input" name="banner" checked>
            <input type="radio" id="banner2" class="sec-1-input" name="banner">
            <input type="radio" id="banner3" class="sec-1-input" name="banner">
            <input type="radio" id="banner4" class="sec-1-input" name="banner">
            <div class="slider">
                <div id="top-banner-1" class="banner">
                    <div class="banner-inner-wrapper header-text">
                        <div class="main-caption">
                            <h2>Transform Your Ideas into Stunning Prints</h2>
                            <h1>High-Quality Printing Services</h1>
                            <div class="border-button"><a href="about.html">Learn More</a></div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="more-info">
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-6 col-6">
                                                <i class="fa fa-cogs"></i>
                                                <h4><span>Advanced Printing Technology:</span><br>UV, Offset, Digital</h4>
                                            </div>
                                            <div class="col-lg-3 col-sm-6 col-6">
                                                <i class="fa fa-paint-brush"></i>
                                                <h4><span>Color Accuracy:</span><br>Vibrant & True-to-Life</h4>
                                            </div>
                                            <div class="col-lg-3 col-sm-6 col-6">
                                                <i class="fa fa-check-circle"></i>
                                                <h4><span>Exceptional Quality:</span><br>Durable and Long-lasting Prints</h4>
                                            </div>
                                            <div class="col-lg-3 col-sm-6 col-6">
                                                <div class="main-button">
                                                    <a href="about.html">Get Your Prints Today</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Additional banners can be added here -->
            </div>
        </div>
        <nav>
            <div class="controls">
                <label for="banner1"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">1</span></label>
                <label for="banner2"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">2</span></label>
                <label for="banner3"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">3</span></label>
                <label for="banner4"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">4</span></label>
            </div>
        </nav>
    </section>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Visit Country Section Start ***** -->
    <div class="visit-country">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-heading">
                        <h2>Explore Our Printing Solutions</h2>
                        <p>From business cards to large-format printing, we offer a wide range of services to meet your needs.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="items">
                        <div class="row">
                            <!-- Business Cards Section -->
                            <div class="col-lg-12">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-5">
                                            <div class="image">
                                                <img src="assets/images/business-cards.jpg" alt="Business Cards">
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-sm-7">
                                            <div class="right-content">
                                                <h4>Business Cards</h4>
                                                <span>Professional Designs</span>
                                                <div class="main-button">
                                                    <a href="about.html">Order Now</a>
                                                </div>
                                                <p>High-quality, customizable business cards to leave a lasting impression on your clients.</p>
                                                <ul class="info">
                                                    <li><i class="fa fa-pencil-alt"></i> Custom Designs</li>
                                                    <li><i class="fa fa-paperclip"></i> Premium Paper Options</li>
                                                    <li><i class="fa fa-check-circle"></i> Quick Turnaround</li>
                                                </ul>
                                                <div class="text-button">
                                                    <a href="about.html">See Pricing <i class="fa fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Brochures Section -->
                            <div class="col-lg-12">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-5">
                                            <div class="image">
                                                <img src="assets/images/brochures.jpg" alt="Brochures">
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-sm-7">
                                            <div class="right-content">
                                                <h4>Brochures</h4>
                                                <span>Marketing Materials</span>
                                                <div class="main-button">
                                                    <a href="about.html">Get Yours Now</a>
                                                </div>
                                                <p>Perfect for businesses that want to highlight their products or services in detail.</p>
                                                <ul class="info">
                                                    <li><i class="fa fa-check-circle"></i> Full-Color Printing</li>
                                                    <li><i class="fa fa-file"></i> Multiple Paper Choices</li>
                                                    <li><i class="fa fa-arrow-circle-right"></i> Fast Delivery</li>
                                                </ul>
                                                <div class="text-button">
                                                    <a href="about.html">Request a Quote <i class="fa fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Custom Printing Section -->
                            <div class="col-lg-12">
                                <div class="item last-item">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-5">
                                            <div class="image">
                                                <img src="assets/images/custom-prints.jpg" alt="Custom Prints">
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-sm-7">
                                            <div class="right-content">
                                                <h4>Custom Prints</h4>
                                                <span>Unique Designs</span>
                                                <div class="main-button">
                                                    <a href="about.html">Start Your Design</a>
                                                </div>
                                                <p>Whether it’s a custom t-shirt or a personalized poster, we can bring your vision to life.</p>
                                                <ul class="info">
                                                    <li><i class="fa fa-paint-brush"></i> Fully Customizable</li>
                                                    <li><i class="fa fa-cogs"></i> Professional Results</li>
                                                    <li><i class="fa fa-fast-forward"></i> On-Time Delivery</li>
                                                </ul>
                                                <div class="text-button">
                                                    <a href="about.html">Learn More <i class="fa fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Pagination if needed -->
                            <div class="col-lg-12">
                                <ul class="page-numbers">
                                    <li><a href="#"><i class="fa fa-arrow-left"></i></a></li>
                                    <li><a href="#">1</a></li>
                                    <li class="active"><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="side-bar-map">
                        <!-- Optional Map Section or Client Testimonials -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Visit Country Section End ***** -->

    <!-- ***** Call to Action Section Start ***** -->
    <div class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2>Ready to Bring Your Ideas to Life?</h2>
                    <p>Whether you need custom business cards, brochures, posters, or any other print materials, we are here to help.</p>
                </div>
                <div class="col-lg-4">
                    <div class="main-button">
                        <a href="contact.html">Request a Quote</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Call to Action Section End ***** -->

    <!-- ***** Footer Section Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p>&copy; 2024 PrintMaster. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- ***** Footer Section End ***** -->
</body>

</html>
