{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
  .product-item p {
    word-wrap: break-word; /* Break long words to prevent overflow */
    overflow: hidden;      /* Hide any overflow */
    text-overflow: ellipsis; /* Show ellipsis ("...") if the text overflows */
    max-height: 150px;     /* Set a max height if you want to restrict the visible height */
    display: -webkit-box;  /* For multi-line truncation in Webkit browsers */
    -webkit-line-clamp: 5; /* Limit the number of visible lines to 5 */
    -webkit-box-orient: vertical; /* Set the orientation of the box to vertical for line-clamping */
}
</style>


  <div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h4>Discover Our Weekly Offers</h4>
          <h2>Amazing Prices &amp; More</h2>
          <div class="border-button"><a href="about.html">Discover More</a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="search-form">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <form id="search-form" method="get" role="search" action="{% url 'MAIN:pricing' %}">
            <div class="row">
              <div class="col-lg-2">
                <h4>Sort Print Deals By:</h4>
              </div>
              <div class="col-lg-4">
                <fieldset>
                  <select name="category" class="form-select" aria-label="Select Category">
                    <option value="">Select Category</option>
                    {% for category in form.category.field.choices %}
                      <option value="{{ category.0 }}" {% if category.0 == form.category.value %} selected {% endif %}>{{ category.1 }}</option>
                    {% endfor %}
                  </select>
                </fieldset>
              </div>
              <div class="col-lg-4">
                <fieldset>
                  <select name="price" class="form-select" aria-label="Select Price Range">
                    <option value="">Price Range</option>
                    <option value="100" {% if form.price.value == "100" %} selected {% endif %}>₹100 - ₹250</option>
                    <option value="250" {% if form.price.value == "250" %} selected {% endif %}>₹250 - ₹500</option>
                    <option value="500" {% if form.price.value == "500" %} selected {% endif %}>₹500 - ₹1,000</option>
                    <option value="1000" {% if form.price.value == "1000" %} selected {% endif %}>₹1,000 - ₹2,500</option>
                    <option value="2500+" {% if form.price.value == "2500+" %} selected {% endif %}>₹2,500+</option>
                  </select>
                </fieldset>
              </div>
              <div class="col-lg-2">                        
                <fieldset>
                  <button class="border-button">Search Print Deals</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="search-results amazing-deals">
    <div class="container rr">
        <div class="row">
            {% for product in page_obj %}
                {% if product.image %}
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">  <!-- Changed col-md-4 to col-md-6 for medium screens -->
                        <div class="product-item p-3 border d-flex flex-column h-100" style="border-radius: 5px;">
                            <a href='{% url 'MAIN:product_detail' product.id %}'>
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid mb-3">
                            </a>
                            <h4>{{ product.name }}</h4>
                            <div class="product-description">
                                <p>{{ product.description }}</p>
                            </div>
                            <div class="main-button rr">
                                <p>Price: ₹{{ product.price }}</p>
                                <a href= '{% url 'MAIN:product_detail' product.id %}'>Order</a> 
                            </div>
                            <p>Category: {{ product.category.name }}</p>
                            <p>In Stock: {% if product.is_in_stock %} Yes {% else %} No {% endif %}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                        <div class="product-item p-3 border d-flex flex-column h-100" style="border-radius: 5px;">
                            <img src="{% static 'default_image.jpg' %}" alt="Default Image" class="img-fluid mb-3">
                            <h4>{{ product.name }}</h4>
                            <div class="product-description">
                                <p>{{ product.description }}</p>
                            </div>
                            <p>Price: ₹{{ product.price }}</p>
                            <p>Category: {{ product.category.name }}</p>
                            <p>In Stock: {% if product.is_in_stock %} Yes {% else %} No {% endif %}</p>
                        </div>
                    </div>
                {% endif %}
            {% empty %}
                <p>No products found matching your search criteria.</p>
            {% endfor %}
        </div>
    </div>
</div>




      <!-- Pagination -->
      <div class="col-lg-12">
        <ul class="page-numbers">
          {% if page_obj.has_previous %}
            <li><a href="?page=1{% if form.category.value %}&category={{ form.category.value }}{% endif %}{% if form.price.value %}&price={{ form.price.value }}{% endif %}"><i class="fa fa-arrow-left"></i></a></li>
            <li><a href="?page={{ page_obj.previous_page_number }}{% if form.category.value %}&category={{ form.category.value }}{% endif %}{% if form.price.value %}&price={{ form.price.value }}{% endif %}">1</a></li>
          {% endif %}

          <li class="active"><a href="#">{{ page_obj.number }}</a></li>

          {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}{% if form.category.value %}&category={{ form.category.value }}{% endif %}{% if form.price.value %}&price={{ form.price.value }}{% endif %}">{{ page_obj.next_page_number }}</a></li>
            <li><a href="?page={{ page_obj.paginator.num_pages }}{% if form.category.value %}&category={{ form.category.value }}{% endif %}{% if form.price.value %}&price={{ form.price.value }}{% endif %}"><i class="fa fa-arrow-right"></i></a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>




  <div class="amazing-deals">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading text-center">
            <h2>Best Weekly Printing Offers</h2>
            <p>Discover the best printing deals this week! Whether you need business cards, flyers, banners, or custom prints, we have exclusive offers just for you.</p>
          </div>
        </div>
  
        <div class="col-lg-6 col-sm-6">
          <div class="item">
            <div class="row">
              <div class="col-lg-6">
                <div class="image">
                  <img src="assets/images/deals-01.jpg" alt="">
                </div>
              </div>
              <div class="col-lg-6 align-self-center">
                <div class="content">
                  <span class="info">*Limited Offer Today</span>
                  <h4>Custom Business Cards</h4>
                  <div class="row">
                    <div class="col-6">
                      <i class="fa fa-clock"></i>
                      <span class="list">5 Days</span>
                    </div>
                    <div class="col-6">
                      <i class="fa fa-map"></i>
                      <span class="list">Many Designs</span>
                    </div>
                  </div>
                  <p>Get high-quality business cards with custom designs, perfect for making a lasting impression.</p>
                  <div class="main-button">
                    <a href="booking.html">Order Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-6 col-sm-6">
          <div class="item">
            <div class="row">
              <div class="col-lg-6">
                <div class="image">
                  <img src="assets/images/deals-02.jpg" alt="">
                </div>
              </div>
              <div class="col-lg-6 align-self-center">
                <div class="content">
                  <span class="info">*Today & Tomorrow Only</span>
                  <h4>Premium Posters</h4>
                  <div class="row">
                    <div class="col-6">
                      <i class="fa fa-clock"></i>
                      <span class="list">5 Days</span>
                    </div>
                    <div class="col-6">
                      <i class="fa fa-map"></i>
                      <span class="list">Custom Sizes</span>
                    </div>
                  </div>
                  <p>Order your posters with vibrant colors and custom sizes to make your event stand out.</p>
                  <div class="main-button">
                    <a href="booking.html">Order Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-6 col-sm-6">
          <div class="item">
            <div class="row">
              <div class="col-lg-6">
                <div class="image">
                  <img src="assets/images/deals-03.jpg" alt="">
                </div>
              </div>
              <div class="col-lg-6 align-self-center">
                <div class="content">
                  <span class="info">*Undefined</span>
                  <h4>Custom Flyers</h4>
                  <div class="row">
                    <div class="col-6">
                      <i class="fa fa-clock"></i>
                      <span class="list">5 Days</span>
                    </div>
                    <div class="col-6">
                      <i class="fa fa-map"></i>
                      <span class="list">Bulk Orders</span>
                    </div>
                  </div>
                  <p>Design your custom flyers for promotions and events. High-quality prints and bulk order discounts available!</p>
                  <div class="main-button">
                    <a href="booking.html">Order Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-6 col-sm-6">
          <div class="item">
            <div class="row">
              <div class="col-lg-6">
                <div class="image">
                  <img src="assets/images/deals-04.jpg" alt="">
                </div>
              </div>
              <div class="col-lg-6 align-self-center">
                <div class="content">
                  <span class="info">*Offer Until 24th March</span>
                  <h4>Vinyl Banners</h4>
                  <div class="row">
                    <div class="col-6">
                      <i class="fa fa-clock"></i>
                      <span class="list">5 Days</span>
                    </div>
                    <div class="col-6">
                      <i class="fa fa-map"></i>
                      <span class="list">In & Out Door</span>
                    </div>
                  </div>
                  <p>Create durable, weather-resistant vinyl banners for both indoor and outdoor use.</p>
                  <div class="main-button">
                    <a href="booking.html">Order Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-12">
          <ul class="page-numbers">
            <li><a href="#"><i class="fa fa-arrow-left"></i></a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
{%endblock%}